{% extends 'base.html' %}
{% set active_page = 'index' %}

{% block styles %}
    {{ super() }}
    <style>
        .btn.btn-lg {
            border-width: 2px;
        }
        .panel-title .label {
            margin-left: 15px;
            font-size: inherit;
        }
    </style>
{% endblock %}

{% block title %}switch.py{% endblock %}

{% macro switch_mode_button(switch, class, tooltip, text, mode, disabled_when_focus=False, no_levels=switch.levels == 1) %}
    {% set focus = switch.mode == mode %}
    {% set disabled = focus and disabled_when_focus %}
    {% set form_id = '%s_%d' % (switch.id, mode) %}
    <button type="button" class="btn btn-lg {{ class }} {{ 'active focus' if focus }}"
            {{ ('onclick="$(\'#%s\').submit();"' % form_id)|safe if no_levels
            else ('onclick="update_form(\'%s\', \'%s\')"' % (switch.id, url_for('switch_mode', switch=switch.id, mode=mode)))|safe }}
            data-toggle="tooltip" data-placement="top" data-container="body" title="{{ tooltip }}" {{ 'disabled' if disabled }}>
        {{ text }}
    </button>
    {% if no_levels %}
        <form id="{{ form_id }}" action="{{ url_for('switch_mode', switch=switch.id, mode=mode) }}" method="post" style="display: none"></form>
    {% endif %}
{% endmacro %}

{% macro switch_mode_buttons(switch, class) %}
    <div class="{{ class }}" data-toggle="buttons">
        {{ switch_mode_button(switch, 'btn-success', 'Start the automation service for this switch', 'Activate service', 0, disabled_when_focus=True) }}
        {{ switch_mode_button(switch, 'btn-warning', 'Keep the switch on until the next scheduled event', 'Keep ON', 1) }}
        {{ switch_mode_button(switch, 'btn-warning', 'Keep the switch off until the next scheduled event', 'Keep OFF', 2) }}
        {{ switch_mode_button(switch, 'btn-danger', 'Keep the switch on continuously', '24/7 ON', 3) }}
        {{ switch_mode_button(switch, 'btn-danger', 'Keep the switch off continuously', '24/7 OFF', 4) }}
        <button id="timer-btn" type="button" class="btn btn-lg btn-default {{ 'focus' if switch.mode==5 }}" data-html="true"
                data-toggle="popover" data-placement="top" data-content='TODO'>
            Timer
        </button>
    </div>
{% endmacro %}

{% block content %}
    <div class="page-header">
        <h1>Welcome to switch.py
            <small>A simple switch automation application</small>
        </h1>
    </div>
    {% for switch in switch_manager %}
        <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-xs btn-primary pull-right" href="{{ url_for('configure_switch', switch=switch.id) }}">
                <span class="glyphicon glyphicon-wrench"></span> <strong>Configure</strong>
            </a>
            <span class="panel-title">
                <strong>{{ switch.name }}</strong>
                {% if switch.level == 0 %}
                    <span class="label label-danger">Off</span>
                {% elif switch.levels > 1 %}
                    <span class="label label-info">Level {{ switch.level }}</span>
                {% else %}
                    <span class="label label-success">On</span>
                {% endif %}
            </span>
        </div>
        <div class="panel-body">
            {{ switch_mode_buttons(switch, class='btn-group hidden-xs') }}
            {{ switch_mode_buttons(switch, class='btn-group-vertical visible-xs') }}

            {% if switch.levels > 1 %}
                <div id="{{ switch.id }}-level" class="row" style="margin-top: 15px;" hidden>
                    <div class="col-sm-6 col-md-4">
                        <form action="" method="post">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    Set the new level
                                </span>
                                <input type="number" min="1" max="{{ switch.levels }}" value="1" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Confirm mode</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}

            {% if switch.schedules %}
                <div class="btn-group" data-toggle="buttons" style="display: block; margin-top: 15px;">
                    {% for schedule in switch.schedules %}
                        <label class="btn btn-lg btn-primary {{ 'active' if switch.active_schedule == schedule }}"
                               onclick="show_schedule_modal('{{ switch.name }}','{{ schedule }}', {{ switch.levels }}, {{ switch.schedules[schedule].to_interface_list() }}, '{{ url_for('use_switch_schedule', switch=switch.id, schedule=schedule|urlencode) }}');">
                            <span>{{ schedule }}</span>
                        </label>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info" role="alert" style="margin-top: 15px; margin-bottom: 0;">
                    There is no schedule for this switch.
                    <a class="btn btn-xs btn-primary" href="{{ url_for('configure_switch', switch=switch.id) }}">
                        <span class="glyphicon glyphicon-wrench"></span> <strong>Configure</strong>
                    </a> it to add a schedule. Of course, you can still use the manual functions above.
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="modal fade" id="sched-modal" tabindex="-1" role="dialog" aria-labelledby="sched-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="sched-modal-label">Use schedule <strong id="sched-name"></strong> for switch <strong id="switch-name"></strong></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Time slot(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Monday</td><td></td></tr>
                            <tr><td>Tuesday</td><td></td></tr>
                            <tr><td>Wednesday</td><td></td></tr>
                            <tr><td>Thursday</td><td></td></tr>
                            <tr><td>Friday</td><td></td></tr>
                            <tr><td>Saturday</td><td></td></tr>
                            <tr><td>Sunday</td><td></td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <form action="" method="post" style="display: inline-block;">
                        <button type="submit" class="btn btn-primary">Use</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });

        function show_schedule_modal(switch_name, schedule_name, switch_levels, schedule_data, schedule_link) {
            $('#switch-name').html(switch_name);
            $('#sched-name').html(schedule_name);
            var modal = $('#sched-modal');
            modal.find('form').attr('action', schedule_link);
            var table_cells = modal.find('table tbody tr');
            for(var i in schedule_data) {
                var time_slots_string = get_day_time_slots_string(schedule_data[i], switch_levels > 1);
                table_cells.eq(i).children().eq(1).html(time_slots_string ? time_slots_string : 'No time slots');
            }
            modal.modal('show');
        }

        function get_day_time_slots_string(day_intervals, display_levels) {
            var string = '';
            for (var i = 0; i < day_intervals.length; i++) {
                if (i > 0) {
                    string += " - ";
                }
                var minutes_a = Math.floor((day_intervals[i][0] % 4) * 15);
                var minutes_b = Math.floor((day_intervals[i][1] % 4) * 15);
                string += Math.floor(day_intervals[i][0] / 4) + ":" + (minutes_a === 0 ? "00" : minutes_a);
                string += " to ";
                string += Math.floor(day_intervals[i][1] / 4) + ":" + (minutes_b === 0 ? "00" : minutes_b);
                if(display_levels) {
                    string += " (L" + day_intervals[i][2] + ")";
                }
            }
            return string;
        }

        function update_form(switch_id, base_url) {
            $("#" + switch_id + "-level").prop('hidden', false).find('input').change(function() {
                $("#" + switch_id + "-level").find('form').attr('action', base_url + '/level/' + this.value);
            }).change();
        }
    </script>
{% endblock %}